fastapi>=0.109.2
google-genai>=0.3.2
langchain>=0.1.9
langchain-core>=0.1.28
langchain-experimental>=0.0.52
langchain-google-genai>=0.0.7 
langchain-openai>=0.0.8
matplotlib>=3.8.2
numpy>=1.26.4
openai>=1.12.0
pandas>=2.2.1
pillow>=10.2.0
plotly>=5.19.0
pydantic>=2.6.1
python-dotenv>=1.0.1
seaborn>=0.13.2
streamlit>=1.31.1
uvicorn>=0.27.1
yfinance>=0.2.37
akshare>=1.12.12
langgraph
talib